.overflow-line{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.layer--no-select{
  user-select:none;
}
.layer-animate{
  opacity:0;
  transition:opacity .3s;
}

.layer-animate--open{
  opacity:1;
}